body {
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.5;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2 {
  line-height: 1.25;
}
h2 {
  font-weight: lighter;
}
li {
  line-height: 2;
}
